<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/diploma</property>

        <property name="connection.pool_size">4</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <property name="hibernate.connection.username">hibernate</property>
        <property name="hibernate.connection.password">123456</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

<!--        <property name="hbm2ddl.auto">create-drop</property>-->
        <property name="hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>